<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <%= name %>
    </h1>
    <h2>
        Details:
    </h2>
    <span> Email-id: <%= emailid%></span>  <br>
    <span> Name: <%= name%></span> <br>
    <span> Subject: <%= subject%></span> <br>
    <span> Number: <%= telnum%></span> <br>
    <p>Message: <br> <%= message%></p>
</body>
</html>